@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@300;500&display=swap);

/* Universal reset */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Raleway", san-serif;
}
#logo {
    justify-content: flex-start;
    padding: 1rem;
    background-color: blueviolet;
    color: white;
    display: flex;
    gap: 1.2rem;
    width: 10%;
}
nav {
        background-color: blueviolet;
        padding: 1rem;
    }
nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.2rem;
    justify-content: flex-end;
}
nav ul li a {
  
    color: white;
    text-decoration: 3rem;
    font-size: 2rem;
}
 nav ul li a {
    color: white;
    text-decoration: 3rem;
    font-size: 2rem;
 }
 #homenav {
  display: flex;
  justify-content: center;
  align-items: center;  
 }
 #homenav ul{
    width: 85%;
 }
main {
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 80px;
}
h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* ========Specfic Styles======== */

/* home page styles */
    #Home article {
        display: flex;
        image-orientation: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
    }
    #Home footer {
        display: flex;
        text-align: left;
        justify-content: left;
        align-items: left;
        background-color: black;
        color: aqua;
        padding: 1rem;
        position: relative;
        bottom: 0;
        width: 100%;
    }
    #SocialMedia {
        display: column;
        text-align: right;
        justify-content: right;
        background-color: black;
        color: aqua;
        padding: 1rem;
        position: relative;
        bottom: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }
/* end home page styles */

/* about page styles */
    #AboutIntro {
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
        gap: 2rem;
        margin-bottom: 2rem;
        
    }
    #AboutPets  {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 20px;
    }
    #Resume {
        text-align: center;
        display: flex;
        width: 100%;
        margin-top: 75px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    button {
        background-color: red;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 20px;

    }
    #About footer {
        display: flex;
        text-align: left;
        justify-content: left;
        align-items: left;
        background-color: black;
        color: white;
        padding: 1rem;
        position: relative;
        bottom: 0;
        width: 100%;
    }
    #SocialMedia {
        display: inline;
        text-align: right;
        justify-content: right;
        background-color: black;
        color: aqua;
        padding: 1rem;
        position: relative;
        bottom: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }

/* end about page styles */

/* Art page styles */
    #Art article {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5%;
        margin-bottom: 30px;

    }
    #Art main article div {
        width:30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

    }
    #Art footer {
        display: flex;
        text-align: left;
        justify-content: left;
        align-items: left;
        background-color: black;
        color: white;
        padding: 1rem;
        position:relative;
        width: 100%;
    }
    #SocialMedia {
        display: flex;
        text-align: right;
        justify-content: right;
        align-items: right;
        background-color: black;
        color: aqua;
        padding: 1rem;
        position: relative;
        bottom: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }
/* =========end Specific Styles========== */

/* media queries */
    @media only screen and (max-width:450px) {

            #Art article {
            flex-direction: column;
        }

    }